<div id="booking-app_menu">
  <div class="booking-app_menu-box">
    <ul class="booking-app_menu-list">
      <li class="booking-app_menu-item">
        <a href="/account?menu=home" class="booking-app_menu-link" data-menu="home">
          <span class="booking-app_menu-icon">
            <img src="{{ "home-icon.svg" | asset_url }}" alt="Home">
          </span>
          <span class="booking-app_menu-highlight">Home</span>
        </a>
      </li>

      <li class="booking-app_menu-item">
        <a href="/account?menu=history" class="booking-app_menu-link" data-menu="history">
          <span class="booking-app_menu-icon">
            <img src="{{ "history-icon.svg" | asset_url }}" alt="History">
          </span>
          <span class="booking-app_menu-highlight">Lesson History</span>
        </a>
      </li>

      <li class="booking-app_menu-item">
        <a href="/account?menu=membership" class="booking-app_menu-link" data-menu="membership">
          <span class="booking-app_menu-icon">
            <img src="{{ "membership-icon.svg" | asset_url }}" alt="Membership">
          </span>
          <span class="booking-app_menu-highlight">Membership</span>
        </a>
      </li>

      <li class="booking-app_menu-item">
        <a href="/account/addresses" class="booking-app_menu-link" data-menu="profile">
          <span class="booking-app_menu-icon">
            <img src="{{ "profile-icon.svg" | asset_url }}" alt="Profile">
          </span>
          <span class="booking-app_menu-highlight">Profile</span>
        </a>
      </li>
    </ul>
  </div>
</div>