{% comment %} 
                                           
                                           
<div class="cta_container">
      <div class="cta_header"> <!-- divタグに変更しています -->
$10 starts your 7-day trial
    </div>
<a href="https://1om1.net/pages/pricing" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
    <button class="cta_button join">
        GET STARTED
    </button>
</a>
    </div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} {% endcomment %}