@charset "UTF-8";
/*デフォルトスタイル*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:1.4rem;
  vertical-align:baseline;
  background:transparent;
}
html {
  font-size: 62.5%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}
ul {
  list-style:none;
}
blockquote, q {
  quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content:'';
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  color: #000000;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
　cursor: pointer;
}
a:hover {
	opacity: .8;
}
ins {
  text-decoration:none;
}
del {
  text-decoration: line-through;
}
mark {
  background-color:#ff9;
  color:#494949;
  font-weight:bold;
}
img {
  vertical-align: top;
	max-width: 100%;
	height: auto;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
}

/*レイアウト*/

a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}
section{
	overflow: hidden;
}

@media all and (min-width: 751px) {
	.sp {
		display: none !important;
	}
}
@media all and (max-width: 750px) {
	body {
		min-width: inherit;
		padding-top: 70px;
	}
	body.open {
		overflow: hidden;
	}
	a:hover, a:hover img {
		opacity: 1 !important;
	}
	.pc {
		display: none !important;
	}
	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}
}



/*----------------------*/

.priceCon {
  padding: 63px 0 0;
    font-weight: 800;
}
.priceCon h2, .priceCon h3, .priceCon h4 {
    font-weight: 800;
}
.price_title {
	margin-bottom: 60px;
	font-size: 4rem;
	text-align: center;
	line-height: 1.2;
}

.price_table {
	width: 983px;
	margin: 0 auto 77px;
	padding: 37px 0 25px;
	background: #f4f4f4;
	border-radius: 20px;
}
.price_table .title {
    margin-top: 0;
	margin-bottom: 34px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	line-height: 1.4;
	text-align: center;
}
.price_table .title .min {
	font-size: 1.8rem;
}


.price_table .tab-group {
  display: flex;
  justify-content: center;
	width: 472px;
	margin: 0 auto;
	background: #fff;
	border: 6px solid #fff;
	border-radius: 5px;
}
.price_table .tab {
  flex-grow: 1;
  padding: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	line-height: 1;
  text-align:center;
  cursor:pointer;
  color: #000;
}
.price_table .tab .no {
	font-size: 2.2rem;
}
.price_table .panel {
  display:none;
}
.price_table .tab.is-active {
	background: #4572c3;
	border-radius: 3px;
	color: #fff;
  transition: all 0.2s ease-out;
}
.price_table .panel.is-show {
  display:block;
}
.price_table .panelBox {
	text-align: center;
	margin-top: 25px;
}
/*
.price_table .panel-group {
	display: inline-block;
	padding: 35px 54px 30px;
	border: 3px solid #4572c3;
	border-radius: 21px;
}
*/

.price_table .panel .inBox {
}
.price_table .panel .flexBox {
	display: flex;
	justify-content: center;
}
.price_table .panel .priceBox {
	width: 313px;
	margin: 0 5px;
	padding: 0 0 28px;
	background: #fff;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	overflow: hidden;
}
.price_table .panel .priceBox .tTxt {
	padding: 14px 0;
	background: #ccd3e9;
	font-size: 1.6rem;
	line-height: 1;
}
.price_table .panel .priceBox .tTxt .no {
	font-size: 2.2rem;
}
.price_table .panel .priceBox .priceTxt {
}
.price_table .panel .priceBox .priceTxt .price {
  position: relative;
  margin-top: 12px;
	font-size: 2rem;
	line-height: 1.4;
}
.price_table .panel .priceBox .priceTxt .price .big {
	font-size: 4.5rem;
  vertical-align: baseline;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .discount,
.price_table .panel .priceBox .priceTxt .price .discount {
  color: #A0A0A0;
  text-decoration: line-through;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt,
.price_table .panel .priceBox .priceTxt .price .discount.bbt {
    position: absolute;
  padding-left: 7px;
    font-size: 2.1rem;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt.text01 {
  top: 15px;
  right: 30%;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt.text02 {
  top: 15px;
  right: 25%;
}
.price_table .panel .priceBox .priceTxt .price .discount.bbt.text03 {
  top: 0;
  right: 37%;
}
.price_table .panel .priceBox .priceTxt .price .discount.bbt.text04 {
  top: 0;
  right: 30%;
}

.price_table .panel .priceBox .priceTxt .price .min {
	display: block;
	font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.price_table .panel .priceBox .priceTxt .btn {
	margin-top: 20px;
}
.price_table .panel .priceBox .priceTxt .btn a {
	display: block;
	width: 170px;
	margin: 0 auto;
  padding: 10px 0;
	background: #ea5902;
	border-radius: 3px;
	color: #fff;
  line-height: 1;
}
.price_table .panelBox .bubble {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	padding: 15px 20px 13px;
	background: #4572c3;
	border-radius: 5px;
	color: #fff;
  font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}
.price_table .panelBox .bubble p {
	font-size: 1.6rem;
	line-height: 1.5;
}
.price_table .panelBox .bubble:before {
	content: "";
	position: absolute;
	top: -15px;
	left: 50%;
	width: 20px;
	height: 20px;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	background: #4572c3;
	transform: translateX(-50%);
}

.mcpBox {
	width: 983px;
	margin: 0 auto;
	padding: 37px 0 48px;
	background: #f4f4f4;
	border-radius: 20px;
}
.mcpBox .title {
    margin-top: 0;
	margin-bottom: 34px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	line-height: 1.4;
	text-align: center;
}
.mcpBox .mcpCon .priceBox {
	text-align: center;
	margin-top: 25px;
}
/*
.price_table .panel-group {
	display: inline-block;
	padding: 35px 54px 30px;
	border: 3px solid #4572c3;
	border-radius: 21px;
}
*/

.mcpBox .mcpCon .flexBox {
	display: flex;
	justify-content: center;
}
.mcpBox .mcpCon .priceBox {
	width: 246px;
	margin: 0 5px;
	padding: 0 0 18px;
	background: #fff;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	overflow: hidden;
}
.mcpBox .mcpCon .priceBox .tTxt {
	padding: 14px 0;
	background: #ccd3e9;
	font-size: 1.6rem;
	line-height: 1;
}
.mcpBox .mcpCon .priceBox .tTxt .no {
	font-size: 2.2rem;
}
.mcpBox .mcpCon .priceBox .priceTxt {
}
.mcpBox .mcpCon .priceBox .priceTxt .price {
  position: relative;
  padding-top: 13px;
  font-size: 2rem;
	line-height: 1.4;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .big {
	font-size: 4.5rem;
  vertical-align: baseline;
}
.mcpBox .mcpCon .priceBox .priceTxt .price .min {
	display: block;
	font-size: 1.5rem;
  font-weight: 600;
}
.mcpBox .mcpCon .priceBox .priceTxt .btn {
	margin-top: 20px;
}
.mcpBox .mcpCon .priceBox .priceTxt .btn a {
	display: block;
	width: 170px;
	margin: 0 auto;
  padding: 10px 0;
	background: #ea5902;
	border-radius: 3px;
	color: #fff;
  line-height: 1;
}
.mcpBox .mcpCon .pBox01 .tTxt {
	padding: 17px 0;
}
.mcpBox .mcpCon .pBox01 .priceTxt .btn {
	margin-top: 41px;
}

.btxt {
	width: 983px;
	margin: 10px auto 73px;
	padding-right: 20px;
	text-align: right;
}


.optionBox {
	margin-bottom: 128px;
}
.optionBox .title {
  margin-top: 0;
	margin-bottom: 34px;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2rem;
	line-height: 1.4;
	text-align: center;
}
.optionBox .flexBox {
	display: flex;
	justify-content: center;
}
.optionBox .priceBox {
	width: 316px;
	margin: 0 5px;
	padding: 0 0 19px;
	background: #f4f4f4;
	border-radius: 4px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	overflow: hidden;
}
.optionBox .priceBox .tTxt {
	padding: 14px 0;
	background: #ccd3e9;
	font-size: 1.6rem;
	line-height: 1;
}


.optionBox .priceBox:nth-child(1) .tTxt {
	padding: 30px 0;
}
.optionBox .priceBox:nth-child(2) .tTxt {
	padding: 27px 0;
}



.optionBox .priceBox .tTxt .no {
	font-size: 2.2rem;
}
.optionBox .priceBox .priceTxt {
}
.optionBox .priceBox .priceTxt .price {
  padding-top: 12px;
	font-size: 2rem;
	line-height: 1.4;
}
.optionBox .priceBox .priceTxt .price .big {
	font-size: 4.5rem;
  vertical-align: baseline;
}
.optionBox .priceBox .priceTxt .price .min {
	display: block;
	font-size: 1.5rem;
}

.optionBox .priceBox .priceTxt .btn {
	margin-top: 20px;
}
.optionBox .priceBox .priceTxt .btn a {
	display: block;
	width: 170px;
	margin: 0 auto;
  padding: 10px 0;
	background: #ea5902;
	border-radius: 3px;
	color: #fff;
  line-height: 1;
}





@media all and (max-width: 750px) {
  .priceCon {
    padding: 40px 0 0;
  }

	.price_title {
		margin-bottom: 50px;
		font-size: 2.2rem;
	}

	.in_title {
		margin-bottom: 8px;
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		line-height: 1.4;
		text-align: center;
	}
	.in_title .min {
		font-size: 1.8rem;
      font-weight: 600;
	}

	.price_table {
		width: 90%;
		margin: 0 auto 77px;
		padding: 37px 0 25px;
		background: #f4f4f4;
		border-radius: 20px;
	}


	.price_table .mmPt {
		margin-bottom: 10px;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.7rem;
		line-height: 1;
	  text-align:center;
      color: #000;
	}
	.price_table .tab-group {
	  display: flex;
	  justify-content: center;
		width: 80%;
		margin: 0 auto;
		background: #fff;
		border: 6px solid #fff;
		border-radius: 5px;
	}
	.price_table .tab {
	  padding: 10px 5px;
		font-size: 1.3rem;
	}
	.price_table .tab .no {
		font-size: 1.8rem;
	}
	.price_table .panelBox {
width: 90%;
margin: 35px auto 0;
	}
/*
	.price_table .panel-group {
		width: 90%;
		padding: 27px 4%;
		border: 2px solid #4572c3;
		border-radius: 21px;
	}
*/

	.price_table .panel .flexBox {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	.price_table .panel .priceBox {
		width: 100%;
		margin: 0 0 22px;
		padding: 0 0 18px;
		border-radius: 4px;
		text-align: center;
	}
	.price_table .panel .priceBox .tTxt {
		padding: 14px 0;
		background: #ccd3e9;
		font-size: 1.6rem;
		line-height: 1;
	}
	.price_table .panel .priceBox .tTxt .no {
		font-size: 2.2rem;
	}
	.price_table .panel .priceBox .priceTxt {
		display: flex;
		justify-content: space-between;
        align-items: center;
	}
	.price_table .panel .priceBox .priceTxt .price {
		width: 51%;
      margin-left: 2%;
		font-size: 1.7rem;
		line-height: 1.4;
	}
	.price_table .panel .priceBox .priceTxt .price .big {
		font-size: 3.7rem;
	}
	.price_table .panel .priceBox .priceTxt .price .min {
		display: block;
		font-size: 1.4rem;
	}
	.price_table .panel .priceBox .priceTxt .btn {
		width: 40%;
		margin-top: 20px;
      margin-right: 4%;
	}
  .mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt {
    font-size: 1.9rem;
  }
  .mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt.text01 {
    top: 17px;
    right: -20px;
  }
  .mcpBox .mcpCon .priceBox .priceTxt .price .discount.bbt.text02 {
    top: 17px;
    right: -20px;
  }
  .price_table .panel .priceBox .priceTxt .price .discount.bbt.text03 {
    top: 4px;
    right: -20px;
  }
  .price_table .panel .priceBox .priceTxt .price .discount.bbt.text04 {
    top: 4px;
    right: -20px;
  }

	.price_table .panel .priceBox .priceTxt .btn a {
		display: block;
		width: 100%;
		margin: 7px auto 0;
        padding: 12px 0;
		background: #ea5902;
		color: #fff;
      font-size: 1.2rem;
	}
	.price_table .panelBox .bubble {
		position: relative;
		display: inline-block;
		margin-top: 20px;
		padding: 14px 19px 10px;
		border-radius: 5px;
		font-size: 1.4rem;
		line-height: 1.4;
	}
	.price_table .panelBox .bubble:before {
		content: "";
		position: absolute;
		top: -15px;
		left: 50%;
		width: 20px;
		height: 20px;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		background: #4572c3;
		transform: translateX(-50%);
	}

	.mcpBox {
		width: 90%;
		margin: 0 auto;
		padding: 37px 0 25px;
		border-radius: 20px;
	}
	.mcpBox .title {
		margin-bottom: 34px;
		font-size: 2.2rem;
		line-height: 1.4;
		text-align: center;
	}
	.mcpBox .mcpCon .priceBox {
		text-align: center;
		margin-top: 25px;
	}

	.mcpBox .mcpCon .flexBox {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	.mcpBox .mcpCon .priceBox {
		width: 90%;
		margin: 0 auto 20px;
		padding: 0 0 18px;
		border-radius: 4px;
		overflow: hidden;
	}
	.mcpBox .mcpCon .priceBox .tTxt {
		padding: 14px 0;
		background: #ccd3e9;
		font-size: 1.6rem;
		line-height: 1;
	}
	.mcpBox .mcpCon .priceBox .tTxt .no {
		font-size: 2.2rem;
	}
	.mcpBox .mcpCon .priceBox .priceTxt {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.mcpBox .mcpCon .priceBox .priceTxt .price {
		width: 51%;
      margin-left: 2%;
		font-size: 1.7rem;
		line-height: 1.4;
	}
	.mcpBox .mcpCon .priceBox .priceTxt .price .big {
		font-size: 3.7rem;
	}
	.mcpBox .mcpCon .priceBox .priceTxt .price .min {
		display: block;
		font-size: 1.4rem;
	}
	.mcpBox .mcpCon .priceBox .priceTxt .btn {
		width: 40%;
      margin-right:  4%;
		margin-top: 20px;
	}
	.mcpBox .mcpCon .priceBox .priceTxt .btn a {
		display: block;
		width: 100%;
		margin: 0 auto;
		background: #ea5902;
		border-radius: 3px;
		color: #fff;
	}
	.mcpBox .mcpCon .pBox01 .tTxt {
		padding: 18px 0;
	}
	.mcpBox .mcpCon .pBox01 .priceTxt .btn {
		margin-top: 7px;
	}

	.btxt {
		width: 90%;
		margin: 0 auto 73px;
		padding-right: 20px;
	}

	.mmPt_02 {
		margin-bottom: 15px;
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
		line-height: 1.4;
	  text-align:center;
	}
	.optionBox {
		margin-bottom: 35px;
	}
	.optionBox .title {
		margin-bottom: 17px;
		font-size: 2rem;
		line-height: 1.4;
	}
	.optionBox .flexBox {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	.optionBox .priceBox {
		width: 80%;
		margin: 0 auto 20px;
		padding: 0 0 18px;
		border-radius: 4px;
		overflow: hidden;
	}
	.optionBox .priceBox .tTxt {
		padding: 14px 0;
		background: #ccd3e9;
		font-size: 1.6rem;
		line-height: 1;
	}
	.optionBox .priceBox .priceTxt {
	}
	.optionBox .priceBox .priceTxt .price {
		font-size: 1.7rem;
		line-height: 1.4;
	}
	.optionBox .priceBox .priceTxt .price .big {
		font-size: 3.2rem;
	}

	.optionBox .priceBox .priceTxt {
		display: flex;
		justify-content: space-between;
        align-items: center;
	}
	.optionBox .priceBox .priceTxt .price {
		width: 47%;
      margin-left: 2%;
		font-size: 1.7rem;
		line-height: 1.4;
	}
	.optionBox .priceBox .priceTxt .price .big {
		font-size: 3.7rem;
	}
	.optionBox .priceBox .priceTxt .price .min {
		display: block;
		font-size: 1.4rem;
	}
	.optionBox .priceBox .priceTxt .btn {
		width: 40%;
		margin-top: 20px;
      margin-right: 5%;
	}
	.optionBox .priceBox .priceTxt .btn a {
		display: block;
		width: 100%;
		margin: 0 auto;
        padding: 12px 0;
		background: #ea5902;
		color: #fff;
      font-size: 1.2rem;
	}
  
}



.priceCon .text_price {
  width: 983px;
  margin: 0 auto 64px;
}
.priceCon .text_price .title {
  font-size: 2.4rem;
}
.priceCon .text_price .pTxt {
  font-size: 1.5rem;
}
.priceCon .text_price .pTxt  a {
  text-decoration: underline;
}


@media all and (max-width: 750px) {
  .priceCon .text_price {
    width: 90%;
    margin: 0 auto 55px;
  }
  .priceCon .text_price .title {
    font-size: 2.4rem;
  }
  .priceCon .text_price .pTxt {
    font-size: 1.5rem;
  }
}














/*---- end */
